@font-face {
    font-family: "kokumr";
    src: url("font_1_kokumr_1.00_rls.ttf");
}

html, body {
    overflow: hidden;
    margin  : 0;
    padding : 0;
    background-color: black;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: "kokumr", serif;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.content-layer {
    width   : 1280px;
    height  : 720px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#content:focus {
    outline: none !important;
    border-color: white;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

#renderCanvas, #canvas2d {
    width   : 1280px;
    height  : 720px;
    touch-action: none;
    position: absolute;
    top: 0;
    left: 0;
}

#canvas2d {
    pointer-events: none;
    touch-action: none;
}


#buttons {
    margin: 10px;
    position: absolute;
    left: 0px;
    top: 0px;
    display: flex;
    flex-direction: row;
}

#buttons button {
    width: 100px;
    background-color: rgba(0, 0, 0, 0.6);
    border: solid 1px white;
    color: white;
    margin: 10px;
    padding: 8px;
}




#message-box-top {
    position:absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    margin: 0px;
    width: 100%;
    height: 72px;
}

#message-box {

    display: none;

    font-size: 24px;
    color:white;
    position:absolute;
    text-shadow: 0px 0px 20px black, 0px 0px 20px black, 0px 0px 20px black, 0px 0px 20px black;
    left: 0;
    bottom: 0;
    padding: 20px;
    pointer-events: none;
    margin: 0px;
    width: 100%;
    height: 32px;
    text-align: center;
}

.box-shadow {
    background-color: rgba(0, 0, 0, 0.6);
}






#screen-shade {
    pointer-events:none;
    display:block;
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height: 100%;
}

#cursor-position {
    color: white;
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 10px;
}


#loading {
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    pointer-events: none;
    transition-property: opacity;
    transition-duration: 1.0s;
    opacity: 1;
    background-color: black;

    z-index: 10000;
}

footer {
    display: block;
    position: absolute;
    right: 10px;
    bottom: 10px;
    text-align: right;
}

footer a {
    color: white;
    text-decoration: none;
    font-size: x-small;
    opacity: 0.3;
}

footer a:hover {
    opacity: 1.0;
}
