@font-face {
    font-family: "kokumr";
    src: url("font/font_1_kokumr_1.00_rls.ttf");
}

@font-face {
    font-family: "ranobe";
    src: url("font/ranobepop.otf");
}

html, body {
    overflow: hidden;
    margin  : 0;
    padding : 0;
    background-color: black;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: "ranobe", serif;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    cursor: default;
}

.progress {
    display: flex;
    flex-direction: row;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    bottom: 10px;
}

.progress .cell {
    width: 16px;
    height: 16px;
    border: solid 1px white;
    border-radius: 4px;
    margin: 1px;
}

.progress .cell.fill {
    background-color: white;
}


.content-layer {
    width   : 1280px;
    height  : 720px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#content {
    overflow: hidden;
}

#content:focus {
    outline: none !important;
    border-color: white;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

#renderCanvas {
    width   : 1280px;
    height  : 720px;
    touch-action: none;
    position: absolute;
    top: 0;
    left: 0;
}


#shadow {
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 1.0;
    transition-property: opacity;
    transition-duration: 1.0s;
    pointer-events: none;
}

#shadow.hide {
    opacity: 0.0;
}

#canvas2d {
    pointer-events: none;
    touch-action: none;
}

#open-center-panel {
    position: absolute;
    left: 0px;
    bottom: 0px;
    font-size: 48px;
    color: white;
    border: solid 1px white;
    padding: 4px;
    margin: 4px;
}

#center-panel-outer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.4);
}

#life {
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 8px;
    display: flex;
    flex-direction: row;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
}

#life > i {
    margin: 2px;
    color: grey;
}

#life > div.active {
    color: red;
}


#hotbar {
    position: absolute;
    width: 100%;
    height: 50px;
    left: 0px;
    bottom: 00px;


}

#hotbar  div.slot {
    width: 32px;
    height: 32px;
    border: solid 1px rgba(255, 255, 255, 1);
    margin: 4px;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0.4;
    transition-property: opacity, transform, width, height;
    transition-duration: 0.3s;
    border-radius: 6px;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.7);
    overflow: hidden;
}

#hotbar  div.slot.active {
    opacity: 1.0;
    background-color: black;
}

#hotbar  div.slot:hover {
    opacity: 1.0;
    transform: matrix(1.0, 0.0, 0.0, 1.0, 0.0, -16.0);
    transition-duration: 0.1s;

    width: 48px;
    height: 48px;
}

#hotbar  div.slot:active {
    opacity: 1.0;
    transform: matrix(1.0, 0.0, 0.0, 1.0, 0.0, -2.0);
    transition-duration: 0.1s;
}

#hotbar  div.slot img {
    width: 100%;
    height: 100%;
}

#hotbar-lower {
    background-color: #cdb27b;
    width: 100%;
    height: 25px;
    position: absolute;
    left: 0px;
    bottom: 0px;
}

#hotbar-upper {
    display: flex;
    justify-content: center;
    flex-direction: row;
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 50px;
}








#right-panel {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#right-panel > .button {
    border: solid 1px white;
    background-color: rgba(0, 0, 0, 0.2);
    margin: 8px;
    color: white;
    padding: 4px;
    opacity: 0.5;
    transition-property: opacity;
    transition-duration: 0.3s;
}

#right-panel > .button:hover {
    opacity: 1.0;
}



#center-panel {
    border: solid 1px white;
    background-color: rgba(0, 0, 0, 0.4);
    width: 600px;
    height: 400px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}


#message-box-top {
    position:absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    margin: 0px;
    width: 100%;
    height: 72px;
}

#message-box {

    display: none;

    font-size: 24px;
    color:white;
    position:absolute;
    text-shadow: 0px 0px 20px black, 0px 0px 20px black, 0px 0px 20px black, 0px 0px 20px black;
    left: 0;
    bottom: 0;
    padding: 20px;
    pointer-events: none;
    margin: 0px;
    width: 100%;
    height: 32px;
    text-align: center;
}

.box-shadow {
    background-color: rgba(0, 0, 0, 0.6);
}






#screen-shade {
    pointer-events:none;
}

#cursor-position {
    color: white;
    position: absolute;
    bottom: 0px;
    right: 0px;
    font-size: 12px;
}


#loading {
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    pointer-events: none;
    transition-property: opacity;
    transition-duration: 1.0s;
    opacity: 1;
    background-color: black;

    z-index: 10000;
}






.show-config {
    text-align: center;
    width: 48px;
    height: 48px;
    font-size: 36px;
    background-color: white;
    border-radius: 10px;
    color: #7b7bdd;
    position: absolute;
    right: 20px;
    top: 20px;
    padding: 3px;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.5);
}

.show-config:hover {
    transform: translateY(-2px);
}

.show-config:active {
    transform: translateY(2px);
}

.config-root {
    left: 1280px;
    transition-property: left, opacity;
    opacity: 0.0;
    transition-duration: 0.6s;
}

.config-root.visible {
    opacity: 1.0;
    left: 0px;
}

.config-inner {
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.6), 0px 0px 10px 0px rgba(0, 0, 0, 0.6) inset;
    background-color: #cdb27b;
    border: solid 20px white;
    color: white;
    width: 600px;
    height: 400px;
    position: absolute;
    margin: auto;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    padding: 10px;
    border-radius: 12px;
}

.config-root .config-heading {
    font-size: large;
    margin-top: 4px;
    margin-bottom: 0px;
    padding: 4px;
    color: #cdb27b;
    background-color: white;
}

.config-root .config-bgm-volume {

}



.config-option {
    display: flex;
    flex-direction: row;
    margin: 4px;
}

.config-option .config-caption {
    width: 120px;
    height: 1em;
}

.config-option .config-toggle {
    background-color: transparent;
    color: white;
    width: 100px;
    height: 1em;
    padding: 4px;
    border: solid 1px white;
    border-radius: 4px;
    text-align: center;
}

.config-option .config-toggle.on {
    background-color: white;
    color: #cdb27b;
}



.config-slider {
    display: flex;
    flex-direction: row;
}

.config-slider-box {
    width: 1em;
    height: 1em;
    border: solid 1px white;
    margin: 2px;
    border-radius: 4px;
}

.config-slider-box.fill {
    background-color: white;
}

.config-root a {
    color: #7b7bdd;
}










