.niconico #renderCanvas {
    width   : 816px;
    height  : 624px;
}

.niconico .content-layer {
    width   : 816px;
    height  : 624px;
}

.niconico .config-root {
    left: 816px;
}

.niconico .mode-root .mode.button {
    width: 400px;
    height: 160px;
    border-radius: 0px 30px 0px 30px;
    font-size: large;
    padding: 20px;
}